<p>
	<strong>Name:</strong>
	<%= @mixes.title %>
</p>

<p>
	<strong>URL:</strong>
	<%= @mixes.text %>	
</p>


<%= link_to 'Edit', edit_mix_path(@mixes) %> |
<%= link_to 'Back', mix_path(@mixes) %>
<%= link_to 'Home', controller: 'welcome' %>