<h1>User Index</h1>
<% @users.each do |user| %>
	<p>
		<%= user.fname %>
		<%= user.lname %>
		<%= user.username %>
	</p>
<% end %>

<%= link_to 'List of Mixes', mixes_path %>
<%= link_to 'Sign Out', 'sessions#destroy' %>
