<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="wroy.css">
  <title>WROY-BDM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header">

    <%= yield %>
</div>
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</body>
</html>
